*{
margin:0;
padding:0;
box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px;
}

header {
	width: 100%;
	background-color: #fffff4;
}

nav {
	font-size: 1.2em;
	background-color: #fffff4;
	font-weight: 400;
	padding: 0 .5%;

}
nav a {
	text-decoration: none;
	color: #616e73;
	float:right;
	padding: .8%;
}
nav a:hover {
	text-decoration: underline;
	color: #69c2cd;
}

hr {
	background-color: #616e73;
	margin: 0;
	height: 0.1875em;
	border-style: none;
}

main {

	height: 90vh;
}


h2 {
	font-size: 1.125em;
}

footer {
	font-family: 'Lora', sans-serif;
	font-size: .75em;
	color: #616e73;
	text-align: center;
	border-top: .0625em solid #616e73;
	padding: 1.125em 0;
	height: 2vh;
	clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.c2a1{
	background-color: #dc8728;
	color: #fffff4;
	padding: 3%;
	width: 47%;
	height: 5em;
	text-align: center;
	float: left;
	border: outset #9db4cd;
}

.c2a2{
	background-color: #dc8728;
	color: #fffff4;
	padding: 3%;
	float: right;
	width:47%;
	height: 5em;
	text-align: center;
	border: outset #9db4cd;
}

.bulldog {
	width: 100%;
}

/*.pup {
	padding: 40px;
}*/

.topnav {

	display: inline;
} 

#commits{
	width: 27%;
	margin: 0 auto;
	height: 25%; 
}

#random{
	background-color: #9db4cd;
	height: 3%;
	margin: -20 10%;
	border-style: none;
}

#paw{
	height:7%;
	margin: 0 48.5%;
	 position: relative;
  top: 50%;
  transform: translateY(-775%);
}

#logo{
	float: left;
	margin: .5% .5%;
}

#logo a:hover {
background-color: #fffff4;
}

#puppies {
text-align: center;
margin: 0 auto;
width: 100%;
height: 33vh;

}

#turq {
	background-color: #69c2cd;
	width: 100%;
	height: 75%;
}

#turq h1 {
	color: #fffff4;
	font-size: 5.3125em;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 3%;
	width:100%;
}

#turq a {
	text-decoration: none;
	color: #fffff4;
}

#doggy {
	display: block;
	float:left;
	width: 19%;
	margin: 0 3%;
}

@media screen and (max-width: 800px) {

	main {
		height: 70vh;
	}

nav {
	font-size: 1em;
}

	#turq {
		height: 80%;
	}

	#turq h1 {
		font-size: 4em;
	}

	#commits {
		width: 50%;
	}

	#doggy {
		width: 42%;
		margin: 3%;

	}

	#paw {
		margin: 0 47%;
	}
}

@media screen and (max-width: 400px) {

	main {
	height: 40vh;
	}

nav {
	float: left;
	}

#logo {
	float: right;
}

#turq h1 {
font-size: 2em;
padding-top: 15%;
}

#turq {
height: 55%;
}

#commits {
display: none;
}

#paw {
	display: none;
}

#random {
	display: none;

}

#doggy {
	width: 80%;
	margin: 3%;
	float: left;
}
}
